body{
	background-color:#DDDDDD 
}

h1, h2 {

	font-family: Arial;
	color:#666666;
}

h1{
	
	font-size: 32px;
}

h2{
	
	font-size: 24px;
}

.fluid {
	width: 100%;

}

.container {

	width:100%;
}

 @media (min-width: 600px) {

 body {
 	font-size: 18px;
 }	

.container {
	
	width:600%;
}

}